<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>web_title</key>
		<string>Weblio</string>
		<key>rawurl</key>
		<string>https://ejje.weblio.jp/</string>
		<key>preserveDate</key>
		<date>2018-01-09T08:23:24Z</date>
	</dict>
	<dict>
		<key>web_title</key>
		<string>Github Markfour</string>
		<key>rawurl</key>
		<string>https://github.com/markfour</string>
		<key>preserveDate</key>
		<date>2018-02-09T08:23:24Z</date>
	</dict>
	<dict>
		<key>web_title</key>
		<string>Google</string>
		<key>rawurl</key>
		<string>https://www.google.co.jp/</string>
		<key>preserveDate</key>
		<date>2018-02-09T08:23:24Z</date>
	</dict>
</array>
</plist>
